module.exports = {
  root: true,
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
      }
  },
  "extends" : "rallycoding",
  "rules": {
    "react/require-extension": "off"
  }
};
